---
permalink: /
---
{% assign title = 'Home' %}
{% include header.html %}

		<div class="col-md-12 text-default w3-margin-bottom">
			<h1 class="w3-hide-small">Welcome to CSU's Hashdump Security Club</h1>
			<h1 class="w3-hide-large">Hashdump Security Club</h2>
			<h5><span class="w3-round-xlarge w3-border w3-padding-small">Thursdays 7:00 PM | CSB 130</span></h5>
			<p>Our goal is to increase awareness of physical, social, and electronic security. Our club participates in various security competitions, hosts demos and workshops, and invites speakers to come and share some of their real world experiences. All majors are welcome to join and participate.</p>
			<p>Want to get connected? Join our <a href="https://discord.gg/KfdWtGb">discord</a> channel!</p>
			<!-- <p>Want to get connected? Join our <a href="slack://channel?id=C4HP7E3SA&team=T4GCPCTPB" target="_blank">slack</a> channel.</p> -->
		</div>

<div class="col-md-12 w3-margin-bottom">
	<h2>Hashdump News</h2>
	<hr/>

	{% for news in site.data.news.news %}
		{% if news.theme == "important" %}
			<div class="col-md-12 w3-padding-16 w3-round w3-border w3-border-red w3-margin-bottom">
		{% elsif news.theme == "tangential" %}
			<div class="col-md-12 w3-padding-16 w3-round w3-border w3-border-blue w3-margin-bottom" style="font-family: 'Comic Sans', 'Raleway', sans-serif'">
		{% else %}
			<div class="col-md-12 w3-padding-16 w3-round w3-border w3-margin-bottom">
		{% endif %}
		
		{% if news.image %}
			<img src="/assets/images/{{ news.image }}" class="w3-margin-right" style="height:70px; float:left;"> 
		{% endif %}
		{{ news.content }}
	</div>
	{% endfor %}
</div>

<div class="col-md-12">
	<h2>Upcoming Meetings</h2>
	<hr/>
</div>
		
<div class="col-md-12">
{% for meeting in site.data.meetings.meetings %}
	{% assign uri = 'assets/images/' | append: meeting.picture %}
	{% include meeting_card.html meeting_data=meeting image_uri=uri %}
{% endfor %}
<div class="clearfix"></div>
</div>

{% include footer.html %}

<script>
$(function() {
	lowest = 0;
		today = new Date();
	for (var fd of $('[future-date]')){
		meetDate = new Date($(fd).attr('future-date'));
		meetDate.setHours(19);
		meetDate.setMinutes(0);
		if ( meetDate >= today){
			if (meetDate < lowest || lowest === 0){
				lowest = meetDate;
			}
		}
	}
	var execptions = 2;
	for (var fd of $('[future-date]')){
		meetDate = new Date($(fd).attr('future-date'));
		meetDate.setHours(19);
		meetDate.setMinutes(0);
		if ( meetDate.getTime() !== new Date(lowest).getTime()){
			if (meetDate.getTime() > today && execptions > 0){
				execptions = execptions - 1;
			}else{
				$(fd).remove();
			}
		}
		/*
		else{
			$(fd).find('h5>span').addClass('w3-tag w3-round background-red');
		}
		*/
	}
});

// For the modal notes popup
$(function() {
	$('a[rel*=leanModal]').leanModal({ top : 200, closeButton: ".modal_close" });		
});
</script>
