---
permalink: /meetings/
---
{% assign title = 'Meetings' %}
{% include header.html %}

<div class="col-md-12 card-list clearfix">
	{% for meeting in site.data.meetings.meetings reversed%}
		{% assign uri = '/assets/images/' | append: meeting.picture %}
		{% assign i = i | plus: 1 %}
		{% include meeting_card.html meeting_data=meeting image_uri=uri%}
	{% endfor %}
</div>

{% include footer.html %}

<script>
$(function() {
	let today = new Date();
	let upcoming = [];

	for (let fd of $('[future-date]')){
		meetDate = new Date($(fd).attr('future-date'));
		meetDate.setHours(19);
		meetDate.setMinutes(0);

		if (meetDate >= today){
			upcoming.push($(fd).detach());
		}
	}

	if (upcoming.length > 0) {
		const cards = $(".card-list");
		cards.prepend('<div class="col-md-12"><h2>Previous Meetings</h2><hr/></div>');

		for (let fd of upcoming) {
			cards.prepend(fd);
		}

		cards.prepend('<div class="col-md-12"><h2>Upcoming Meetings</h2><hr/></div>');
	}
});

$(function() {
	$('a[rel*=leanModal]').leanModal({ top : 200, closeButton: ".modal_close" });		
});

</script>
