---
permalink: /officers/
---
{% assign title = 'Officers' %}
{% include header.html %}

<div class="col-md-12">
{% for member in site.data.officers.officers %}
{% assign uri = '/assets/images/officers/' | append: member.picture %}
	{% assign i = i | plus: 1 %}
	<div class="col-md-4 w3-margin-bottom">
		<div class="col-md-12 background-foreground text-default" style="padding-right:0px;padding-left:0px" future-date="{{ meeting.date | date: '%Y/%m/%d' }}">
			<img class="w3-round" src={{ uri }} style="width:50%;" alt="officer">
			<div style="padding:10px" class="background-foreground hashdump-card">
				<h4>{{ member.name }}</h4>
				<h5>{{ member.title }}</h5>
				<p>{{ member.bio }}</p>
				{% if member.responsibilities %}
					<h5>Responsibilities</h5>
					<ul>
						{% for responsibility in member.responsibilities%}
						<li>{{ responsibility }}</li>
						{% endfor %}
					</ul>
				{% endif %}
				<h5>Contact</h5>
				<a href="mailto:{{ member.email }}" target="_top">{{ member.email }}</a>
			</div>
		</div>
	</div>
	{% if i == 3 %}
		<div class="clearfix"></div>
		{% assign i = 0 %}
	{% endif %}
{% endfor %}
</div>


{% include footer.html %}
