<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Hashdump | {{ title }}</title>

	<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://kit.fontawesome.com/96a5c2f62f.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/hashdump.css" />
	
</head>
<body class="background-background w3-content" style="max-width:100%">
	
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-bar-block background-header w3-animate-left text-default w3-collapse w3-top w3-center nav-content" id="mySidebar">
        <br>
        <div class="w3-padding-32">
            <img class="w3-card w3-circle" src="/assets/images/logo.png" style="width:50%" alt="Hashdump Security">
			<a href="/" onclick="w3_close()" class="w3-bar-item w3-button">
				<h3 class="w3-center"><b>Hashdump<br>Security Club</b></h3>
			</a>
        </div>
		
        <a href="/meetings" onclick="w3_close()" class="w3-bar-item w3-button">MEETINGS</a>
        <a href="/officers" onclick="w3_close()" class="w3-bar-item w3-button">OFFICERS</a>
        <a href="/documents/Constitution.pdf" onclick="w3_close()" class="w3-bar-item w3-button" target="_blank" download>CONSTITUTION</a>

        <div class="w3-padding-16">
            <a href="https://github.com/Hashdump" target="_blank" class="social-media">
                <i class="fa fa-github w3-hover-opacity"></i>
            </a>
            <!-- <a href="slack://channel?id=C4HP7E3SA&team=T4GCPCTPB" target="_blank" class="social-media">
                <i class="fa fa-slack w3-hover-opacity"></i>
            </a> -->
            <a href="https://discord.gg/KfdWtGb" target="_blank" class="social-media">
                <i class="fab fa-discord w3-hover-opacity"></i>
            </a>
            <a href="https://www.google.com/maps/?q=40.5741543,-105.0834872" target="_blank" class="social-media">
                <i class="fa fa-map-marker w3-hover-opacity"></i>
            </a>
        </div>
	</nav>

    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large background-header w3-xlarge w3-padding-16 text-default">
        <span class="w3-left w3-padding">Hashdump Security</span>
        <p class="w3-right w3-button background-header" onclick="w3_open()">☰</p>
    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
	
	<div class="container body-content portfolio-content pull-right">
		<div class="w3-main">
			<!-- Push down content on small screens -->
			<div class="w3-hide-large" style="margin-top:93px"></div>
			<div class="w3-hide-small" style="margin-top:5em"></div>
			<div class="w3-row-padding">
