<div class="col-md-4 w3-margin-bottom" future-date="{{ include.meeting_data.date | date: '%Y/%m/%d' }}">
    <div class="col-md-12 text-default" style="padding-right: 0px; padding-left: 0px;">
        <img src={{ include.image_uri }}  alt="image" class="hashdump-card-image"/>
        <div style="padding:10px" class="background-foreground hashdump-card">
            <h4>{{ include.meeting_data.title }}</h4>
            <h5><span class="">{{ include.meeting_data.date }}</span></h5>
            <p>{{ include.meeting_data.summary }}</p>
            {% for link in include.meeting_data.links %}
                <a href={{ link.url }} target="_blank">{{ link.name }}</a><br>
            {% endfor %}
        </div>
    </div>
</div>
