<div class="col-md-4 w3-margin-bottom" future-date="{{ include.meeting_data.date | date: '%Y/%m/%d' }}">
    <div class="col-md-12 text-default" style="padding-right: 0px; padding-left: 0px;">
        <div style="background-image:url({{ include.image_uri }});" class="hashdump-card-image"></div>
        <div style="padding:10px" class="background-foreground hashdump-card">
            <h4>{{ include.meeting_data.title }}</h4>
            <h5><span class="">5:00 PM on {{ include.meeting_data.date }}</span></h5>
            <p>{{ include.meeting_data.summary }}</p>
            {% for link in include.meeting_data.links %}
                <a href={{ link.url }} target="_blank">{{ link.name }}</a><br>
            {% endfor %}
            {% if include.meeting_data.notes %}
                <h6 style="text-align:right;" class="text-primary">
                    <a rel="leanModal", href="#{{ include.meeting_data.title | slugify }}-notes">notes</a>
                </h6>
            {% endif %}
            {% if include.meeting_data.attrib %}
                <h6 style="text-align:right;" class="text-primary">
                    <a rel="leanModal", href="#{{ include.meeting_data.title | slugify }}-imageattrib">image</a>
                </h6>
            {% endif %}
        </div>
    </div>
</div>

{% if include.meeting_data.notes %}
    <div id="{{ include.meeting_data.title | slugify }}-notes" class="meeting-notes-popup border-primary shadow-lg bg-light rounded-lg">
        <h3> {{ include.meeting_data.title }} </h2>
        <p><em>This meeting took place on {{ include.meeting_data.date | date: '%Y/%m/%d' }}</em></p>
        <hr/>
        <p> {{ include.meeting_data.notes }} </b> </p>
    </div>
{% endif %}

{% if include.meeting_data.attrib %}
    <div id="{{ include.meeting_data.title | slugify }}-imageattrib" class="meeting-notes-popup border-primary shadow-lg bg-light rounded-lg">
        <h3> Image attribution </h2>
        <hr/>
        <p> {{ include.meeting_data.attrib }} </b> </p>
    </div>
{% endif %}
