@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

body {
  --primary-text: #000;
  --primary-background: #eee;
  --primary-brand: #0018a3;
  
  color: var(--primary-text);
  font-family: "Red Hat Text";
  background-color: var(--primary-background);
}

body.darkMode {
	--primary-text: #fff;
	--primary-background: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Red Hat Display";
  font-weight: 800;
}

a, .link {
  color: var(--primary-brand);
  font-weight: 650;
  text-decoration: unset;
}

.icons {
  display: flex;
  gap: 0.5rem;
}

.icons svg {
  width: 1.8rem;
  height: 1.8rem;
}
